<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <name>java:app/jdbc/itmd4515DS</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://localhost:3306/itmd4515?zeroDateTimeBehavior=CONVERT_TO_NULL&amp;useSSL=false</url>
        <user>itmd4515</user>
        <password>itmd4515</password>
    </data-source>
    
    <security-constraint>
        <display-name>Landing Page</display-name>
        <web-resource-collection>
            <web-resource-name>Landing Page</web-resource-name>
            <description>Only authenticated users</description>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
            <role-name>COACH_ROLE</role-name>
            <role-name>OWNER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Admin Content</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Content</web-resource-name>
            <description>Content for adminsitrators only</description>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Coach Content</display-name>
        <web-resource-collection>
            <web-resource-name>Coach Content</web-resource-name>
            <description>Content for coaches only</description>
            <url-pattern>/coach/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>COACH_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Owner Content</display-name>
        <web-resource-collection>
            <web-resource-name>Owner Content</web-resource-name>
            <description>Content for owners only</description>
            <url-pattern>/owner/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>OWNER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
